@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --hover-orange: #ee753e;
    --normal-darkblue: #272a33;
    --disable--grey: #d4d4d6;
    --content-width-max: 1440px;
    --content-width-1440: 1160px;
    --content-width-1160: 768px;
    --content-width-768: 576px;
    --content-width-576: 360px;
}

.wrapper {
    max-width: var(--content-width-max);
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    cursor: pointer;
}

.burger {}

.burger_input {
    display: none;
}

.navigation {}

.navigation__link {
    transition: color 0.3s;
}

.navigation__link:hover {
    color: var(--hover-orange);
}

.navigation__link:not(:last-child) {
    margin: 0 80px 0 0;
}

.container {}

.catalog {}

.catalog__title {}

.title {}

.catalog__items {}

.catalog__card {}

.card__img {}

.card__description {}

.card__title {}

.card__amount {}

.card__button {}

.button {}

.catalog__button {}

.about {}

.about__title {}

.about__items {}

.about__img {}

.about__description {}

.about__company {}

.about__advantage {}

.advantage__plus {}

.advantage__img {}

.advantage__text {}

.about__text {}

.about__button {}